<div id="<%= dom_id note %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= note.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= note.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= note.body %>
  </div>
</div>
